[submodule "upmem/PIM-common"]
	path = upmem/PIM-common
	url = https://github.com/UBC-ECE-Sasha/PIM-common.git
[submodule "dlrm"]
	path = dlrm
	url = https://github.com/UBC-ECE-Sasha/PIM-Embedding-dlrm.git
[submodule "PIM-DeepRecSys"]
	path = PIM-DeepRecSys
	url = https://github.com/UBC-ECE-Sasha/PIM-DeepRecSys.git
