[submodule "upmem/PIM-common"]
	path = upmem/PIM-common
	url = https://github.com/UBC-ECE-Sasha/PIM-common.git
[submodule "dlrm"]
	path = dlrm
	url = https://github.com/UBC-ECE-Sasha/PIM-dlrm.git
[submodule "PIM-DeepRecSys"]
	path = PIM-DeepRecSys
	url = https://github.com/UBC-ECE-Sasha/PIM-DeepRecSys.git
[submodule "PIM-dlrm-new"]
	path = PIM-dlrm-new
	url = https://github.com/UBC-ECE-Sasha/PIM-dlrm.git
	branch = 2023_q1_experiments
[submodule "PIM-Pytorch"]
	path = PIM-Pytorch
	url = https://github.com/UBC-ECE-Sasha/PIM-Pytorch.git
